body{
  background-color: #fafafa;
}
#wrapper {
  width: 1136px;
  text-decoration: none;
  margin: auto;
  font-size: 15px;
  height: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  background-color: #fafafa;
}
#wrapper-in{
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  padding: 40px 0;
}

/* 로고 */
.logo-wrapper{
  display: flex;
  justify-content: center;
  padding: 20px;
  margin-bottom: 10px;
}

/* 인풋박스 */
.inputBox-wrapper{
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 300px;
}
.id{
  border-radius: 4px 4px 0 0;
  border: 1px solid #dbdbdb;
  background-color: #fff;
  color: #000;
  box-sizing: border-box;
  line-height: 21px;
  height: 50px;
  margin: 0;

}
.pw{
  border-radius: 0 0 4px 4px;
  margin-top: -1px;
  border: 1px solid #dbdbdb;
  background-color: #fff;
  color: #000;
  box-sizing: border-box;
  line-height: 21px;
  height: 50px;
  margin: 0;

}
input::placeholder {
  padding: 13px 15px 14px;
  font-size: 15px;
  color: rgb(190, 186, 186);
}

.login-button{
  margin: 20px 0;
  display: inline-block;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: none;
  border: 1px solid transparent;
  border-radius: 4px;
  text-decoration: none;

  padding: 15px 10px;
  min-height: 50px;
   font-size: 17px;
   font-weight: 700;
   background-color: #35c5f0;
   border-color: #35c5f0;
   color: #fff;
}

/* 비밀번호 재설정 / 회원가입 */
.re-regi{
  display: flex;
  text-align: center;
  justify-content: center;
}
.re-regi a span{
  font-size: 15px;
  color: #424242;
}
.register{
  margin-left: 20px;
}

/* 다른 방법으로 로그인 및 로그인 문제 */
.otherLogin-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.text{
  margin: 35px 0 15px;
  color: #757575;
  font-size: 12px;
  line-height: 1.33;
  text-align: center;
  letter-spacing: -0.5px;
}
.otherLogin-box a{
  margin: 0 10px;
}

.text2{
  margin-top: 24px;
  color: #c2c8cc;
  font-size: 14px;
  line-height: 18px;
}

.other-wrapper{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 30px;
  padding-top: 30px;
  border-top: 1px solid #dbdbdb;
  margin-bottom: 80px;
}
.other-wrapper button{
  background-color: transparent;
  border: none;
  color: #424242;
  font-size: 15px;
  border: 0;
  margin: 0;
  padding: 0;
  line-height: 1.4;
}

footer{
  width: 100%;
  color: #757575;
  font-size: 5px;
  line-height: 20px;
  margin: -5px 0 25px;
  text-align: center;
}
footer span{
  font-size: 10px;
}
footer a{
  color: #757575;
  font-size: 10px;
}