#wrapper {
  width: 1136px;
  text-decoration: none;
  margin: auto;
  font-size: 15px;
  height: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

#header {
  display: flex;
  align-items: center;
  margin-top: 10px;
  height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.logo-wrap {
  margin-right: 35px;
}
.category-wrap {
  display: flex;
}
.etc-wrap {
  display: flex;
}
.etc-wrap div {
  display: flex;
}

.hd1 {
  justify-content: space-between;
}
.header1-left {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* 1. 로고 */

.logo-wrap a {
  color: #212629;
  height: 30px;
  padding: 4px;
}

/* 2. 카테고리 */
.box-header1-category ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
.box-header1-category ul li {
  display: inline-block;
  padding: 21px 5px 15px;
  margin: 0 10px;
  font-size: 18px;
  font-weight: bold;
  white-space: nowrap;
}
.box-header1-category ul li a {
  letter-spacing: -1px;
  color: #2f3438;
}
.box-header1-category ul li a:hover {
  color: #35c5f0;
}

/* 3. 글쓰기 ------------------ */
.header1-right {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* 3-1. 서치박스 */
.wrap-search {
  display: flex;
  margin-right: 10px;
}
.box-magnifier {
  display: inline-flex;
  border: 1px solid #dadde0;
  border-radius: 4px;
  width: 100%;
  height: 40px;
  align-items: center;
  padding: 0 14px;
  margin-right: 5px;
}
.icon-magnifier {
  color: #828c94;
  display: inline-block;
  width: 20px; height: 20px;

}
.icon-magnifier img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.box-magnifier input {
  border: none;
  width: 100%;
  background-color: transparent;
}
.box-magnifier:hover {
  background-color: rgb(251, 251, 251);
}
.box-magnifier input::placeholder {
  font-size: 15px;
  color: rgb(203, 203, 203);
}

/* 3-2. 카트 아이콘  */
.wrap-cart {
  display: inline-block;
}
.cart {
  display: inline-block;
  width: 30px;
  padding: 10px;
  height: 30px;
  border-radius: 4px;
  overflow: hidden;
}
.cart  img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* 3-3. 로그인 / 회원가입 / 고객센터 */
.wrap-regist {
  display: flex;
  align-items: center;
  margin: 0 10px 0 8px;
}
.wrap-regist a {
  font-size: 13px;
  padding: 10px;
  color: #2f3438;
  white-space: nowrap;
}
.line {
  border-left: 1px solid #dadde0;
  height: 20px;
}

/* 3-4. 글쓰기 버튼 */
.btn-write {
  display: inline-flex;
  align-items: center;
  border: none;
  background-color: #35c5f0;
  border-radius: 4px;
  height: 40px;
  padding: 0 16px;
}
.btn-write:hover {
  background-color: #2fa0c2;
}
.spn-write1 {
  color: white;
  margin-right: 8px;
}
.spn-write2 {
  color: white;
}

/* ----헤더2 ------------------------------------------- */
.header-wrapper {
  display: flex;
  align-items: center;
  padding: 0px;
}

.header-left {
  display: flex;
  justify-content: space-between; /* 요소들 사이에 일정 간격 */
  overflow: hidden;
  align-items: center;
  height: 51px;
}
.header-right {
  display: block;
  margin-left: 10px;

  /*  */
}

/* header left --------*/

.header-left nav {
  overflow: hidden;
  display: flex;
  /* align-items : 세로선상의 정렬방식 */
  align-items: stretch; /* 요소들을 컨테이너에 맞도록 세로로 늘림 */

  height: 51px;
  white-space: nowrap;
}
.category-nav ul {
  display: flex;
  white-space: nowrap;
}
.category-nav a {
  padding: 12px 6px;
  margin: 5px 10px 0 0;
  display: flex;
  align-items: center;
  color: #212629;
  font-weight: 700;
}

.category-nav :hover {
  color: #35c5f0;
}

/* 차트  ~~~~~~~~~~~~~~~~~~~~~~~~~` */
.chart-right {
  background-color: white;
  margin-left: 10px;
}
.chart-wrapper {
  width: 200px;
  display: flex;
  align-items: center;
}

.box-chart {
  margin-right: 5px;
  overflow: hidden;
  white-space: nowrap;
}

/* --- */
.chart-number {
  font-weight: 1000;
}
.chart-tag {
  font-size: 12px;
  font-weight: 700;
  color: #2fa0c2;
  padding: 0px 2px;
}
.btn-chart {
  display: block;
  color: #828c94;
  border: none;
  background-color: transparent;
  padding: 6px;
}

/* 본문 -======================================================================= */

.container {
  margin-top: 30px;
}

/* 1. 메인배너 */
.main-banner {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  padding: 0px 60px;
  width: 100%;
  height: 508px;
  border-radius: 4px;
  padding: 0;
}
.main-banner-in{
  display: flex;
}



/* 1-1 왼쪽배너 */
.left-banner{
  width: 847px;
  height: inherit;
  background-color: gray;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.left-banner img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: all 0.1s linear; /* 은근하게 커지기 */

}
.left-banner img:hover{
transform: scale(1.05, 1.05); /* 마우스 올리면 확대 */
}
.banner-text{
  position: absolute;
  top: 420px;
  left: 30px;
  color: white;
}
.banner-text h2{
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
}

.box-banner-profile{
  display: flex;
  align-items: center;
}
.box-banner-profile img{
  width: 24px;
  height: 24px;
  border-radius: 100%;
  margin-right: 5px;
 }
 .box-banner-profile span{
  font-size: 13px;
 }

/* 1-2 오른쪽배너       */
.right-banner{
  width: 270px;
  height: inherit;
  background-color: rgb(195, 195, 195);
  margin-left: 20px;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.right-banner img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: all 0.1s linear; /* 은근하게 커지기 */
}
.right-banner img:hover{
  transform: scale(1.05, 1.05); /* 마우스 올리면 확대 */
}
.box-banner-count{
  display: flex;
  align-items: center;
  padding: 2px 10px;
  position: absolute;
  top: 471px;
  right: 15px;
  height: 20px;
  background-color: rgba(128, 128, 128, 0.544);
  border-radius: 25px;
}
.box-banner-count span{
  color: white;
  font-size: 13px;
  font-weight: 600;
}


/*배너 화살표 ---  */
.banner-arr{
  display: flex;
  align-items: center;
}
.right-banner-relative{
  position: relative;
  height: inherit;
}
/* right-banner가 relative  */
/* 왼쪽 배너 화살표 */
.banner-arr .arr-left{
  position: absolute;
  top: 242px;
  left: -5px;
  display: block;
  z-index: 10;
}

.banner-arr .arr-left button {
  background-color: white;
  width: 48px;
  height: 48px;
  border-radius: 100%;
  border: none;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(63, 71, 77, 0.15);

  transform: scaleX(-1);
  display: flex;
  align-items: center;
}
.banner-arr .arr-left img{
  height: 70%;
  transform: translate(3px);
}

/* 오른쪽 배너 화살표 */
.banner-arr .arr-right{
  position: absolute;
  top: 242px;
  right: -21px;
  display: block;
  z-index: 10;
}

.banner-arr .arr-right button {
  background-color: white;
  width: 48px;
  height: 48px;
  border-radius: 100%;
  border: none;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(63, 71, 77, 0.15);

  display: flex;
  align-items: center;
}
.banner-arr .arr-right img{
  height: 70%;
  transform: translate(3px);
}






/* 메인 카테고리  */
.main-category-in {
  display: flex;
  justify-content: space-between;
  margin: 30px 0px 40px;
}

.category-box {
  text-align: center;
}
.category-box a {
  display: flex;
  flex-direction: column;
  color: #212629;
  font-size: 16px;
}
.category-box a img {
  max-width: 88px;
}
.category-box a span {
  margin-top: 8px;
  font-size: 16px;
  line-height: 20px;
}

/* 3. 이런 사진 찾고있나요? --------------------------------------------------------- */

.main-searchPhoto {
  margin: 20px auto;
}

/* 3-1. 텍스트영역  */
.looking-text-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0px;
  line-height: 1;
}

.looking-titles-wrap {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.looking-mainT {
  margin-top: 4px;
  margin-bottom: 5px;
}

.looking-mainT strong {
  cursor: pointer;
  overflow: hidden;
  display: inline-block;
  letter-spacing: -0.3px;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: rgb(47, 52, 56);
  text-overflow: ellipsis;
  white-space: nowrap;
}
.looking-mainT strong:hover{
  color: #929292;
}
.looking-subT span {
  overflow: hidden;
  display: inline-block;
  letter-spacing: -0.3px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: rgb(47, 52, 56);
  text-overflow: ellipsis;
  white-space: nowrap;
}

.etcText-wrap button {
  display: inline-block;
  margin: 0px;
  padding: 0px;
  border: none;
  background: none;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: rgb(53, 197, 240);
  cursor: pointer;
}

/* 3-2. 사진목록    ==============================================================  */

.photoList-wrapper {
  width: 1140;
  display: flex;
  position: relative; /*  이거!!!!!!!!!!! */
}
.ul-photoList {
  display: flex;
  overflow: hidden;
}
.ul-photoList li {
  position: relative; /* position */
  width: 195px;
  height: 230px;
  background-color: gray;
  border-radius: 4px;
  margin: 0 12px 0 0 ;
  overflow: hidden;
}


.pl-content-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.1s linear; /* 은근하게 커지기 */
}
.pl-content-img:hover{
  transform: scale(1.05, 1.05); /* 마우스 올리면 확대 */

}
/* --- 안에 들어가는 닉네임, 책갈피  ---------------------------------------*/
.box-photo-profile {
  display: flex;
  align-items: center;
  position: absolute;
  top: 195px;
  left: 6px;
}
.box-photo-profile a {
  display: flex;
  align-items: center;
  position: absolute;
}
.round-profile {
  width: 24px;
  height: 24px;
  overflow: hidden;
  border-radius: 100%;
  margin-right: 5px;
}

.round-profile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.nickname {
  font-size: 12px;
  font-weight: 700;
  color: white;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.bookmark {
  position: absolute;
  top: 195px;
  left: 136px;
  width: 15px;
  height: 15px;
  padding: 5px;
}
/* 북마크 채워진버전 아닌버전 */

.bookmark-fill{
  display: none;
}
.bookmark-blank{
  display: block;
}


/* 사진리스트  좌 우 화살표  */
.photoList-btn{
  display: flex;
  align-items: center;
}
.photoList-btn .btn-left-photoList{
  position: absolute;
  top: 95px;
  left: -21px;
}
.photoList-btn .btn-left-photoList button {
  background-color: white;
  width: 48px;
  height: 48px;
  border-radius: 100%;
  border: none;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(63, 71, 77, 0.15);

  transform: scaleX(-1);
  display: flex;
  align-items: center;
}

.photoList-btn .btn-left-photoList img{
  height: 70%;
  transform: translate(3px);
}

/* 오른쪽  */
.photoList-btn .btn-right-photoList{
  position: absolute;
  top: 95px;
  right: -21px;
}
.photoList-btn .btn-right-photoList button {
  background-color: white;
  width: 48px;
  height: 48px;
  border-radius: 100%;
  border: none;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(63, 71, 77, 0.15);

  display: flex;
  align-items: center;
}
.photoList-btn .btn-right-photoList img{
  height: 70%;
  transform: translate(3px);
}






/* 4. 오늘의 기획전 ------------------------------------------------------------------------------------ */
.wrap-eventTitle {
  display: flex;
  justify-content: space-between;
}
.main-event section {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* 이벤트 상품 사진 ------------- */
.gap {
  margin-bottom: 60px;
}
.gap a{
  color: #2f3438;
}

.box-eventmedia {
  width: 270px;
  white-space: nowrap;
  margin-right: 15px;
}
.box-event-photo {
  border-radius: 4px;
  width: 269px;
  height: 180px;
  overflow: hidden;
  background-color: gray;
  margin-bottom: 5px;
}
.box-event-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.1s linear;
}
.box-event-photo img:hover{
  transform: scale(1.05, 1.05);
}

/* 하단 텍스트 -이벤트 */

.event-productT {
  margin-bottom: 5px;
  font-size: 14px;
  line-height: 20px;
  /* ellipsis 안먹음;;; */
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block;
}
.event-productT-bold {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin-top: 2px;
  width: 269px;
}

/* 더보기  ~~~~~~~` 0425 */

.event-add {
  margin: 0;
}
.event-add-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 269px;
  height: 270px;
  text-align: center;
}
.event-add-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: #e2e6e9;
  margin-bottom: 10px;
}
.event-add-content button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  width: 40px;
  height: 40px;
  border-radius: 100%;
}
.event-add-content button:hover{
  background-color: #c4c4c4;

}
.a-event-add span {
  color: #212629;
  font-size: 14px;
}

/* 5. 베스트  -------------------------------------------------------------------------- */
.wrap-best-tag{
  margin-bottom: 20px;
}
.wrap-bestText {
  display: flex;
  justify-content: space-between;
}

.box-best-category ul {
  display: flex;
  list-style-type: none;
  overflow: hidden;
}
.box-best-category a{
  color: #212629;
}
.box-best-category ul li {
  cursor: pointer;
  font-size: 13px;
  padding: 9px;
  margin-right: 5px;
  border-radius: 15px;
  background-color: #f7f9fa;
  white-space: nowrap;
}

.box-best-category ul li:hover{
  color: white;
  background-color: #35c5f0;
}

.box-bestProduct {
  width: 365px;
  height: 482px;
}

.box-best-images{
  cursor: pointer;
  width: 365px;
  height: 365px;
  overflow: hidden;
}

.box-best-images img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.1s linear;
}
.box-best-images img:hover{
  transform: scale(1.08, 1.08);
}

/* best product ========================================*/
.wrap-best-media {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}



/* 베스트 상품 텍스트 -------------------------- */
.box-company-name {
  margin: 3px 0;
}
.box-company-name a{
  color: #757575;
  font-size: 11px;
  font-weight: 400;
  line-height: 13px;
}

.box-bestTitle a{
  font-size: 13px;
  font-weight: 400;
  line-height: 17px;
  color: black;
  overflow: hidden;
}

.box-number{
  margin: 3px 0;
  display: flex;
  align-items: center;
}
.discount-t{
  font-size: 17px;
  font-weight: 700;
  line-height: 23px;
  color: #35c5f0;
  margin-right: 4px;
}
.price-t{
  font-size: 17px;
  font-weight: bold;
  color: black;

}

.box-review{
  display: flex;
  gap: 2px;
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
  margin-bottom: 10px;
}
.box-review >span:nth-child(1){
  color: #35c5f0;
}
.box-review > span:nth-child(3){
  color: #929292;
}
.box-review > span:nth-child(4){
  color: #929292;
}

/* 베스트상품 택그 */
.box-tag{
  display: flex;
  align-items: center;
  justify-content: center;
}
.box-tags span {
  padding: 5px;
  margin-right: 5px;
  font-size: 10px;
  font-weight: 400;
  border-radius: 4px;
  background-color: rgb(234, 117, 117);
  color: white;
}























/* footer ------------------------------------------------------------------------------- */
footer {
  letter-spacing: -0.3px;
  background-color: rgb(247, 249, 250);
  color: #2f3438;
}
.footer-container {
  max-width: 1256px;
  margin: 0px auto;
  padding: 40px 60px;
  display: flex;
}

/* footer1  -----------------------------*/
.wrap-footer1 {
  width: 253px;
}

.footer1-help {
  margin: 10px 0px;
}
.footer1-help a {
  color: #2f3438;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
}
.footer1-hp {
  margin: 20px 0px 8px;
}

.footer-strongspan {
  font-size: 16px;
  font-weight: 700;
  margin-right: 10px;
}

.footer-smallspan {
  font-size: 14px;
}

.footer1-help-time ul li {
  padding-left: 20px;
  font-size: 11px;
  padding: 5px;
  line-height: 15px;
}
.footer1-help-time ul li::before {
  content: '•';
  margin-right: 5px;
}
.footer1--button {
  margin: 10px 0px;
}

.footer1--button button {
  border: 1px solid rgb(218, 221, 224);
  background-color: transparent;
  white-space: nowrap;
  border-radius: 4px;
  padding: 5px;
}

.wrap-footer1::after {
  border: 10px solid black;
}

.v-line {
  border-left: thin solid #d9d9d9;
  margin: 0px 50px;
}








/* 푸터2 ---------------- */
.wrap-footer2 {
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

}
.wrap-footer2 a {
  display: inline-block;
  font-size: 12px;
  line-height: 16px;
  white-space: nowrap;

  color: #2f3438;
  margin-right: 10px;
}

.wrap-footer2 a b {
  font-weight: 700;
}

/* 푸터3 -------------- */
.wrap-footer3 {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  color: rgb(130, 140, 148);
}
.footer3-info-1 {
  line-height: 20px;
  display: inline-block;
  white-space: wrap;
}
.footer3-info-2 {
  line-height: 20px;
  display: inline-block;
  white-space: wrap;
  font-size: 10px;
  margin: 10px 0px;
}

.footer3-info-5 {
  padding: 10px 0px;
  margin-bottom: 5px;
}
.footer3-info-5 a {
  color: rgb(130, 140, 148);
  margin-right: 10px;
}

#footer3-bold {
  font-weight: 700;
  color: rgb(130, 140, 148);
}
#footer3-email {
  color: rgb(130, 140, 148);
}

/* 푸터3 박스 3개  */
.footer3-info-3 {
  display: flex;
  margin-bottom: 10px;
}
.box-footerlogo {
  border: 1px solid rgb(211, 212, 214);
  color: rgb(130, 140, 148);
  margin-right: 5px;
  padding: 5px;
}

.box-footerlogo {
  display: flex;
  align-items: center;
  font-size: 10px;
  line-height: 12px;
}
.box-footerlogo img {
  width: 30px;
  margin-right: 5px;
}
.box-footerlogo .fl {
  padding: 0px 40px;
}

.footer3-info-4 {
  line-height: 15px;
  display: inline-block;
  white-space: wrap;
  font-size: 10px;
  margin: 10px 0px;
}
.footer3-info-6 {
  font-size: 10px;
  font-weight: 400;
}
