
#wrap {
  width: 80%;
  text-decoration: none;
  margin: auto;
  font-size: 15px;
}

/* 헤더 ---------------------------------------- */
.header-high {
  height: 80.5px;
}
.header {
  height: 80px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
}

.logo {
  height: 30px;
  margin-top: 20px;
  margin-right: 30px;
}

.category1 {
  margin: 20px;
  display: block;
 
}
.category1 a {
  font-size: 18px;
  padding: 21px 5px 15px;
  font-weight: bold;
  margin: 0 10px;
  text-decoration: none;
}

.category1 a span {
  display: inline-block;
  padding: 4px;
}

/* 서치, 카트, 로그인, 회원가입, 글쓰기 */
.search-regist {
  display: flex;
  align-items: center;
}
.search-regist content{
  display: block;
}


/* 검색 서치 */
.search-wrap{
  position: relative; /* ???? */
}
.search-box{
  display: flex;
  width: 100%;
}
.search-content{
  align-items: center;
  box-sizing: border-box;
  border: 1px solid #DADDE0;
  height: 40px;
  padding: 0 14px;
  width: 100%;
}
#glass{
  padding-right: 6px;
  vertical-align: middle;
  color: #828C94;
  line-height: 1px;
  display: inline-block;

}
#glass::before{

}
#search{
  font-size: 16px;
  border-width: 0; /* input 테두리 제거 */
  padding: 10px;
  vertical-align: middle;
  
}

/* 장바구니 카트 */
.cart{
  position: relative;
  padding: 6px;
  display: inline-block;
  margin: 9px 1px;
  text-decoration: none;
}

.login-regist-write-box{
  align-items: center;
}
.login-regist-write-box{
  display: flex;
  text-decoration: none;

}
/* 로그인 회원가입 */
.login-regist-box{
  display: flex;
  margin: 0 10px 0 8px;

}
.login-regist-box a{
  font-size: 14px;
  line-height-step: 18px;
  padding: 0 10px;
  text-decoration: none;
  color: #2f3438;
}

/* 글쓰기 */
.write-box button{
  align-items: center;
  border: none;
  font-size: 14px;
  width: auto;
  height: 40px;
  font-weight: 400;
  line-height: 14px;
  text-align: center;
  overflow: hidden;
  padding: 0 16px;
  border-radius: 4px;
  outline: none;
  background-color: #35c5f0;

}
.write-box button span{
  color: #ffffff;
}
.write-text{
  font-size: 14px;
  vertical-align: middle;
  white-space: nowrap;
  margin-right: 6px;
}


